/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* # BODY */

body{
  background-color: #f6f5f3;
}

/* # HEADER */

header > .container{
  max-width: 100%;
  background-color: white;
  text-align: center;
  width: auto;

}

.header-title{
  font-family: "Nerko One", cursive;
  color:#ff9614;
  font-size: 30px;
  padding:20px 0px;
  max-width: 100%;

}

/* # MAIN */

main{
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  padding-left: 15px;
}

/* # CATEGORIES CONTAINER */

.categories-container{
  padding: 17px 0px;

}
.categories{
  font-size: 18px;
  color: #999999;
  font-weight: lighter;
}

/* # DESSERTS CONTAINER */

.desserts-container{
padding-bottom: 20px;

}

.desserts-title{
  color: #4e3969;
}

.traditional-desserts{
  display: none;
}

.main-container{
  display: flex;
  flex-direction: column;
  width:100%;
}

.container-video{
  
  width: 100%;
  
}

.list-in-breve{
  background-color: white;
  padding-left: 25px;
}

.list-in-breve ul {
  list-style-type:none;
  padding-bottom: 50px;
}

.list-in-breve h2{
  padding: 25px 0px;
}

.main-list-item{
 padding: 5px 0px;
}



/* # MEDIA QUEREIS */

/* quando salgo sopra i 576 px */
@media screen and (min-width:576px){

  header > .container{
    text-align:left;
  }
  .header-title{
    padding-left: 15px;
  }
  .traditional-desserts{
    display: inline-block;
  }
  .list-in-breve ul {
    text-align: 

  }
}


/* quando salgo sopra i 768px px */
@media screen and (min-width:768px){

  header > .container{
    width: auto;
  }
  main > header > div .container{
  
  }
  
}


/* quando salgo sopra i 992px px */
@media screen and (min-width:992px){
  .main-container{
    flex-direction: row;
  }

}


